[*]
trim_trailing_whitespace = true
end_of_line = lf

[*.go]
indent_style = tab
indent_size = 4

[*.{js,jsx,ts,tsx,yml,yaml}]
indent_style = space
indent_size = 2

[*.txt]
indent_style = tab
indent_size = 4
