---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.github.com/repos/merico-dev/lake/commits
    method: GET
  response:
    body: '[{"sha":"d029eae23274800bf90be720cc6d285eee81e6cb","node_id":"C_kwDOFuUSztoAKGQwMjllYWUyMzI3NDgwMGJmOTBiZTcyMGNjNmQyODVlZWU4MWU2Y2I","commit":{"author":{"name":"warren830","email":"39366025+warren830@users.noreply.github.com","date":"2022-01-22T06:03:15Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2022-01-22T06:03:15Z"},"message":"Merge
      pull request #1085 from merico-dev/refactor-hide-authinfo-in-log\n\nRefactor
      hide authinfo in log","tree":{"sha":"23721e1089c04e7c65d811e109cfd44e8964e157","url":"https://api.github.com/repos/merico-dev/lake/git/trees/23721e1089c04e7c65d811e109cfd44e8964e157"},"url":"https://api.github.com/repos/merico-dev/lake/git/commits/d029eae23274800bf90be720cc6d285eee81e6cb","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
      PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJh654jCRBK7hj4Ov3rIwAACeYIADxrTaU04rNeLZZ/qYTLHsl7\n5PtHNx4I6J6ViZlIGT1ZdVi8bmlqW9ee+0bH7uGrqA2Vh4R3SGOiPpOA7LMFFF/z\nxQL6yGrSiiIiFdOZfyQxHUyXLMsWiujfLRdNfz5FMN0PuBz2QasuxhMrYiGTL5BQ\n8mBvZrkDmDnmZxBzAB5fWCwPCXfub1ij4V88HTR8wJMgSol4JcWE4KOVXRj8PRn5\n/DIqvhMEsXOK0cdh2V2gZFzzIInekjxt2nwKok50pDyQwEKLraC9XKTHO0VJ2ENf\n950wtPpPAC2U2BrG6tZCmx3rS91GZ7bNWJ1obc2h0U+7m7IYJz58mSCY1ABNwLE=\n=2hvT\n-----END
      PGP SIGNATURE-----\n","payload":"tree 23721e1089c04e7c65d811e109cfd44e8964e157\nparent
      e2c5b78bc01b8961bf363abca892883d17eb394f\nparent f9e7b8c11024f86b6267136f519edf4cc7ed2511\nauthor
      warren830 <39366025+warren830@users.noreply.github.com> 1642831395 +0800\ncommitter
      GitHub <noreply@github.com> 1642831395 +0800\n\nMerge pull request #1085 from
      merico-dev/refactor-hide-authinfo-in-log\n\nRefactor hide authinfo in log"}},"url":"https://api.github.com/repos/merico-dev/lake/commits/d029eae23274800bf90be720cc6d285eee81e6cb","html_url":"https://github.com/merico-dev/lake/commit/d029eae23274800bf90be720cc6d285eee81e6cb","comments_url":"https://api.github.com/repos/merico-dev/lake/commits/d029eae23274800bf90be720cc6d285eee81e6cb/comments","author":{"login":"warren830","id":39366025,"node_id":"MDQ6VXNlcjM5MzY2MDI1","avatar_url":"https://avatars.githubusercontent.com/u/39366025?v=4","gravatar_id":"","url":"https://api.github.com/users/warren830","html_url":"https://github.com/warren830","followers_url":"https://api.github.com/users/warren830/followers","following_url":"https://api.github.com/users/warren830/following{/other_user}","gists_url":"https://api.github.com/users/warren830/gists{/gist_id}","starred_url":"https://api.github.com/users/warren830/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/warren830/subscriptions","organizations_url":"https://api.github.com/users/warren830/orgs","repos_url":"https://api.github.com/users/warren830/repos","events_url":"https://api.github.com/users/warren830/events{/privacy}","received_events_url":"https://api.github.com/users/warren830/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"node_id":"MDQ6VXNlcjE5ODY0NDQ3","avatar_url":"https://avatars.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"sha":"e2c5b78bc01b8961bf363abca892883d17eb394f","url":"https://api.github.com/repos/merico-dev/lake/commits/e2c5b78bc01b8961bf363abca892883d17eb394f","html_url":"https://github.com/merico-dev/lake/commit/e2c5b78bc01b8961bf363abca892883d17eb394f"},{"sha":"f9e7b8c11024f86b6267136f519edf4cc7ed2511","url":"https://api.github.com/repos/merico-dev/lake/commits/f9e7b8c11024f86b6267136f519edf4cc7ed2511","html_url":"https://github.com/merico-dev/lake/commit/f9e7b8c11024f86b6267136f519edf4cc7ed2511"}]}[...]
