// Licensed to the Apache Software Foundation (ASF) under one or more
// contributor license agreements.  See the NOTICE file distributed with
// this work for additional information regarding copyright ownership.
// The ASF licenses this file to You under the Apache License, Version 2.0
// (the "License"); you may not use this file except in compliance with
// the License.  You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.integrationProviders {
  border: 0;
  display: flex;
  width: 80%;
  min-width: 520px;
  align-self: flex-start;
  padding: 10px;

  .iProvider {
    margin: 0 30px 15px 0;
    text-align: center;
    width: 96px;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    transition: background-color 0.3s ease-out;
    opacity: 0.85;

    &:hover {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
      border: 2px solid #7497F7;
      background-color: #eeeeee;
      opacity: 1.0;

      svg:first-of-type,img:first-of-type {
        transform: scale(1.05);
      }

      .providerName {
        color: #222222;
        font-weight: bold;
      }

      svg:first-of-type,img:first-of-type {
        transition: all 0.3s ease-out;
      }

    }

    .providerName {
      cursor: pointer;
      transition: color 0.3s ease-out;
      color: #777777;
    }

    .providerIcon {
      cursor: pointer;
      min-height: 48px;
      min-width: 48px;
    }
  }
}

.manageProvider {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
  min-width: 786px;
}

.table-action-link {
  margin-left: 15px;
  text-decoration: none;
  line-height: 16px;
  color: #666666;
  transition: all 0.3s ease-in;

  &:hover {
    color: #111111;

    >.bp3-icon {
      opacity: 1.0;
    }
  }

  >.bp3-icon {
    margin-right: 5px;
    margin-bottom: 2px;
    opacity: 0.5;
    transition: all 0.3s ease-in;
  }
}

table.connections-table {

  tbody {
    tr {
      cursor: pointer;

      &.connection-offline {
        background-color: rgba(191, 204, 214, 0.25);

        td {
          color: #888888;
        }
      }

      &:hover {
        background-color: rgba(191, 204, 214, 0.15);
      }
    }
  }
}

.bp3-button.bp3-intent-primary {
  // background-color: #E8471C;
  &:hover {
    // background-color: #ff6a42;
  }
}

.bp3-breadcrumbs-collapsed::before {
  background-color: transparent;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAgAAAAIACAYAAAD0eNT6AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAABaoSURBVHic7d15rG1XQQbw73UgLcKjQyjWoralEwXbvs5zH8VAAkjEAUkU4hAkAQUSohiiBMQENUTFKBGktWr0j5ahNKCggJhCCFKxpEQp0glCwc6vfWVo+971j30vve/xhnPuOXuvvfb6/ZKVEko4a+1zz/q+s8/Z+yQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMLdNpScAFHFwkiet/uftSR4tOBcAoCdPT/K6JNcluT3JziQrq2Pn6n/3odX/zTFFZggALM356UJ/Rx4P/P2NHenKwHkF5gsALOCIJH+XXd/pzzt2JrkqyeHDTh0A2IizktyRjQf/7uO2JFsGXQEAMJetSR7M8sJ/bWxb/f8GAEbmkiQPZfnhvzYeTvLcwVYDAOxX3+GvBADAyAwV/koAAIzE0OGvBABAYaXCXwkAgEJKh78SAAADG0v4KwEAMJCxhb8SAAA9G2v4KwEA0JOxh78SAABLVkv4KwEAsCS1hb8SAAALqjX8lQAA2KDaw18JAIA5TSX8lQAAmNHUwl8JAID9mGr4KwEAsBdTD38lAAB200r4KwEAsKq18FcCAGheq+GvBADQrNbDXwkAoDnCXwkAoDHCXwkAoDHCXwkAoDHCXwkAoDHCXwkAoDHCXwkAoDHCXwkAoDHCXwkAoDHCXwkAoDHCXwkAoDHCXwkAoDGXpwuo0iE5z7hzdZSex7wl4PIZnxMA6FWN7/y/leTUJCcl+cYI5jNvCXAmAICiag7/NUoAAMyh1vB/1h7WogQAwAymFP5rlAAA2Icphv8aJQAA9mDK4b9GCQCAdWoM///LfOG/RgkAgLQV/mtOjhIAQMNaDP81SgAATWo5/NcoAQA0Rfg/TgkAoAnC/wcpAQBMmvDfOyUAgEkS/vunBAAwKcJ/dkoAAJMg/OenBABQNeG/cScnuTPlj4cSAMBcag3/Z/dxMDZICQCgKsJ/eZQAAKog/JdPCQBg1IR/f5QAAEZJ+PdPCQBgVIT/cJQAAEZB+A9PCQCgKOFfjhIAQBHCvzwlAIBBCf/xOCVKAAADEP7jowQA0CvhP15KAAC9EP7jpwQAsFQ1hv9daSv81ygBACxFreH/E30cjEooAQAsRPjXSwkAYEOEf/2UAADmIvynQwkAYCbCf3pOSfLNlH+elACAkRL+06UEALBHwn/6lAAAdiH826EEAJBE+LdICQBonPBvlxIA0CjhjxIA0BjhzxolAKARwp/dKQEAEyf82RslAGCihD/7owQATIzwZ1bPjBIAMAnCn3kpAQCVE/5slBIAUCnhz6KUAIDK1Br+p/VxMFiIEgBQCeHPsikBACMn/OmLEgAwUjWG/31JzurjYNCL05LcnfJ/N0oAwCrhz1CUAICREP4MTQkAKEz4U4oSAFCI8Kc0JQBgYMKfsVACAAYi/BkbJQCgZ8KfsTo9SgBAL4Q/Y6cEACyZ8KcWSgDAkgh/aqMEACxI+FMrJQBgg2oN/7P7OBhUSQkAmJPwZyqUAIAZCX+mRgkA2A/hz1QpAQB7UWP43x/hz+yUAIDdCH9aoQQArBL+tEYJAJon/GmVEgA0S/jTutOT3JPyf9dKADAY4Q+dM6IEAI0Q/rArJQCYPOEPe6YEAJMl/GHflABgcoQ/zEYJACaj1vA/p4+DATNQAoDqCX/YGCUAqJbwh8UoAUB1hD8shxIAVEP4w3IpAcDoCX/ohxIAjJbwh34pAcDoCH8YhhIAjIbwh2EpAUBxwh/KUAKAYoQ/lKUEAIMT/jAOSgAwGOEP46IEAL0T/jBOSgDQG+EP46YEAEtXa/if28fBgBHbEiUAWBLhD3VRAoCFCX+okxIAbFiN4f9AhD+s2ZLk3pR/XSoBUBHhD9OgBAAzE/4wLUoAsF/CH6ZJCQD2SvjDtCkBwA8Q/tAGJQD4PuEPbVECAOEPjVICoGHCH9qmBECDhD+QKAHQFOEPrKcEQANqDf/z+jgYwPedGSUAJkv4A/uiBMAECX9gFkoATIjwB+ahBMAECH9gI5QAqJjwBxahBECFhD+wDEoAVET4A8ukBEAFhD/QByUARkz4A31SAmCEhD8wBCUARkT4A0NSAmAEhD9QghIABQl/oKQzk9yX8vuKEkBTag3/8/s4GEAxZ0UJgMEIf2BMlAAYgPAHxkgJgB4Jf2DMlADoQY3hvy3CH1qjBMASCX+gJkoALIHwB2qkBMAChD9QMyUANkD4A1OgBMAchD8wJUoAzED4A1OkBMA+CH9gypQA2APhD7RACYB1agz/7Uku7eNgAJN3Qbo3EKX3MSWAooQ/0CIlgKYJf6BlSgBNEv4ASgCNEf4Aj1MCaILwB/hBSgCTJvwB9k4JYJJqDf/L+jgYAHuhBDApwh9gdkoAkyD8AeanBFA14Q+wcUoAVRL+AIu7MEoAFRH+AMujBFAF4Q+wfEoAoyb8AfqjBDBKwh+gfxcmeTDl908lgCT1hv/WHo4FQN+UAEZB+AMMTwmgKOEPUI4SQBHCH6A8JYBBCX+A8VACGITwBxgfJYBeCX+A8VIC6IXwBxg/JYClEv4A9VACWArhD1AfJYCFCH+Ael0UJYANEP4A9VMCmIvwB5gOJYCZCH+A6VEC2Kcaw//hCH+AWSgB7FGt4f+cPg4GwEQpAexC+AO0QwkgifAHaJES0DjhD9AuJaBRwh8AJaAxwh+ANUpAI4Q/ALtTAiZua7oDVvpJm2dsT3JpD8cCgF1dmm7PLb3vz1sCtvZwLCZlS5JtKf9kCX+A8aqxBGxLcmYfB2MKDktya8o/SfMMp/0Byrg49X0c8LUkR/ZxMGr3Nyn/5Mwztie5rJcjAcAsLkt9ZwKu6uNA1OzcJDtT/okR/gB1qa0E7EyXeaz6QMo/KcIfoE61lYDr+jkM9Tk6yWMp/4TMMnzmDzBOF6eey8d3JHl6P4ehLq9J+SdjlrE9LuMAGLOtqedMwGv7OQR1uSblnwjhDzANW1NHCbi2p/VX5Usp/0Tsazyc5PLeVg/AstXwccBtva2+Ivek/BOxt+GdP0CdtmbcZwJ2JDmor8XX4AkZ7+V/3vkD1G3sZwIO72/p4zfWAiD8AaZhzCWg6QKQJHen/JOwe/hv7XPBAAxqa8b3I3PNfwSQJDel/BOxPvy98weYnrGdCbit3+XW4eqUfyLWwt9NfgCm6zkZz5mAD/a81iq8OuWfCOEP0IaxlIDf7HuhNTgqyaMpG/5O+wO045KU/TjArYDXeX+88wdgOCXPBHxogPVV4+wMfzmg8AdoW4kSsDPJOUMsriZXRvgDMKyhS8CVwyyrLocluTXDhP9zB1oTAOM31HcC7khyxEBrqs4ZSbal3/D3hT8Adnd5+j0TsC1dxrEPl6WfEvBA3OEPgL3bmn7yZ1u6bGMGZyS5Jcs7+F9NctqgKwCgRmcmuT3Ly59b453/3J6S5L3prpfc6IHfkeQ9STYPPHcA6nV4kquy2NVpO9N94e+wYac+LWcmuSbJY5n9wD+a7hbDWwrMF4BpODfJdZnvjeiOdNf5j/5Sv02lJzCHo5K8JN1nNFuSHJfu54ST5JF0P6zwhST/luTadL8yCACLOibJz6b7ouDpSX4syQGr/25nkq8l+WKSTyT5QJJvFJjj3GoqAHvyxNV/frvoLABoyYF5/KPlB9O96wcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKZnU+kJNGRzkhcmuTzJ6UmOTXLY6r97IMntSW5M8skkH0ny0OAzBOiH/Y8mnZTkiiQPJ1mZcTyc5L1JTiwwX4Blsf/RpEOTvCPJo5n9D3/38UiSP05yyMBzB1iE/Y9mnZjkpmz8D3/38dkkRw+6AoCNsf/RrC1J7sry/vjXxteTnDbgOgDmZf+jWSemnz/+9S+CHx5sNQCzs//RrEPSfYu1rz/+tXFDus/XAMbC/kfT3pH+//jXxlsHWhPALOx/NOukLPZt13nHQ3EqDBgH+x9NuyLD/fGvjXcNsjKAfbP/0azNme8mF8sa25M8eYD1AeyN/a9iB5SewAS8MMkTCzzuDyV5QYHHBVhj/6uYArC4yxt9bAD7X8UUgMWdXvCx3RgDKMn+VzEFYHHHFXzs4ws+NoD9r2J+Dnhx30vyhIKP7YcygFLsfxVTABa3UvjxPYdAKfa/ivkIAAAapAAAQIMUAABokAIAAA1SAACgQQoAADRIAQCABikAANAgBQAAGqQAAECDFAAAaJACAAANUgAAoEEKAAA0SAEAgAYpAADQIAUAABqkAABAgxQAAGiQAgAADVIAAKBBCgAANEgBAIAGKQAA0CAFAAAapAAAQIMUAABokAIAAA1SAACgQQoAADRIAQCABikAANAgBQAAGqQAAECDFAAAaJACAAANUgAAoEEKAAA0SAEAgAYpAADQIAUAABqkAABAgxQAAGiQAgAADVIAAKBBCgAANEgBAIAGKQAA0CAFAAAapAAAQIMUAABokAIAAA1SAACgQQoAADRIAQCABikAANAgBQAAGqQAAECDFAAAaJACAAANUgAAoEEKAAA0SAEAgAYpAADQIAUAABqkAABAgxQAAGiQAgAADVIAAKBBCgAANEgBAIAGKQAA0CAFAAAapAAAQIMUAABokAIAAA1SAACgQQoAADRIAQCABikAANAgBQAAGqQAAECDFAAAaJACAAANUgAAoEEKAAA0SAEAgAYpAADQIAUAABqkAABAgxQAAGiQAgAADVIAAKBBCgAANEgBAIAGKQAA0CAFAAAapAAAQIMUAABokAKwuO2FH/+phR8faNNRhR//ocKPXz0FYHH3FX784wo/PtCm0nvPvYUfv3oKwOJKF4BjCz8+0CYFoHIKwOJKF4DjCz8+0KbSBaD03ls9BWBxdxZ+fAUAKOEZhR+/9N5bPQVgcXcUfvxzCj8+0KZzCz/+7YUfv3oKwOJKF4DTkjyl8ByAthyW5FmF51B6762eArC42wo//gFJzi88B6AtF6R8ftxe+PGrV/oJnIKvlJ5AkgtLTwBoykWlJ5Dky6UnAJuS3J9kpeC4vvdVAjzuMym757kEkNH4dMq+GHYkOab3VQIkP5pkZ8rueZ/qe5Et8BHActxU+PEPSPLzhecAtOGl6c58llR6z50EBWA5big9gSS/UHoCQBNeVnoCST5fegKw5pkpezpsJd0puWN7XifQtmek/On/lSQn9r3QFjgDsBxfTnJP4TlsSvLqwnMApu01KX/6/54kXy08B9jFh1O+FT+QZHPfCwWa9JQk21J+n/tQ3wtthTMAy/OJ0hNI9wJ9ZelJAJP0qozjDcbHS08AdndqyjfjlSRfT3Jwz2sF2nJwkq+l/P62Ep//M1J3pPyLYyXd53QAy/LalN/XVpLc2vdCYaPenfIvkJV0X5I5vOe1Am04Mt2d90rvaytJ/qLntcKGPS/lXyBr4509rxVow1+m/H62Nrb2u1TYuIOS3JXyL5KVJI8meXa/ywUm7tR0e0np/WwlybeSHNjvctviKoDleizJtaUnseqgJFfGFwKBjTkoyRWr/xyD96X73RMYreekfFNeP97S62qBqXpbyu9f68fF/S4XFrcpyf+m/ItlbTya5MJeVwxMzUXpzmiW3r/Wxs0pfwdCmMmbUv4Fs37cku4mQQD7c3iS21J+31o/fqvXFcMSHZPxfHFmbfxrfB8A2LcnpLuraen9av14JMnT+lw0LNvVKf/C2X1c2euKgZptSnJVyu9Tu4+/73HN0ItzUv6Fs6fxe30uGqjWW1J+f9rTOKfHNUNvPp3yL57dx864VTCwq9em2xtK70+7j0/1uGbo1U+n/Atob+O3e1w3UI/fSfn9aG/jRT2uG3q1KcnnU/5FtLfxh/0tHajAG1N+H9rbuCEu/aNyL075F9K+xl/G1QHQmoMzrnv872m8oLfVw0DGfhZgJcn1SY7u6wAAo3J0xvn9pPXjs72tHga2NeVfUPsbd6W7jTEwXRcnuTPl95v9jUv6OgBQwgdT/kW1v/G9JG9OdzMQYDqekO4yv0dSfp/Z37i6n0MA5Ryf5Lsp/+KaZdyU5Px+DgMwsAuSfCnl95VZxneSHNvLUYDC3p7yL7BZx2NJ/izdfcGB+hyR5J3pfkK39H4y63hrL0cCRuDQjOuXAmcZD6a7XNCPCUEdnpTu8r77U37/mGfcnOSQHo4HjMZzM847bu1v3JXkDUk2L/+QAEuwOd2v5t2d8vvFvGNnkkuXf0hgfK5M+RfcRsdDSd6T5KylHxVgI85J8tdJtqf8/rDR8VdLPyowUpuT3JryL7pFxw1JXpfkhOUeHmA/Tkzy+iT/mfL7wKLjK+k+toBmXJTui3alX3zLGjcn+ZMkz4svDsKyHZ7k+em+mPuVlH+9L2s8muS8JR4n5uA+y2W9Nd1191N0R5IbV8eXk3wz3WeTawPY1VPXjaOTnJLkjNXx4wXn1ac3J3lb6Um0SgEo68AkH03yk6UnMrDH0n2XYFOSwwrPBUp6IN074ScnOajwXIb20SQvTPcFQApQAMo7It1n6ceVngjAQO5IcnaSe0pPpGUHlJ4AuS/Jy9LdJRBg6r6d5Gci/ItTAMbhP5K8Ik6FAdO2kuTXknyh9EToPoNmHP473S07Ly89EYCevDHdfUQYAQVgXK5P8vQkZ5aeCMCSvTvJm0pPgscpAOPzT0lOTvLs0hMBWJL3J/mVdB8BMBKuAhing5N8MN0lMgA1+1iSFyd5pPRE2JUCMF6HJrku7d0jAJiOjyZ5SVzlNEquAhiv76Q7A3Bt6YkAbMBHIvxHzXcAxm1Huo8CTl0dADW4JslL47T/qCkA47cj3RdojkxybuG5AOzPe5P8arpbfjNiCkAdVtJdHfBAul/b890NYGxWkvx+kjfETc2qoADU5XPpfnb3BemuFAAYg4eT/GKSd5WeCLPzTrJOpyf5QJLjS08EaN4t6b7sd1PpiTAfVwHU6Yvpvg/wL6UnAjTtn5OcE+FfJR8B1Os7Sf4hyf3pfj/AcwkM5bEkb0vyqnR7ERXyEcA0nJ3kH5OcWHoiwOTdlu7z/s+WngiL8a5xGu5MclWSzenKgGIHLNvOJH+e5OeS3Fp4LiyBoJieC5NckeSU0hMBJuOrSV6Z5FOF58ESOQMwPV9PVwAeTXJeXC4IbNzD6T7rf3m6EsCEOAMwbcckeXuSX4rnGpjPh5P8RpI7Sk+EfrgMcNq+keQVSS5J8u+F5wLU4ZNJLkjyUxH+k+ZdYVuen+QP0n1REGC9zyX53SQfLz0RhqEAtOniJG9M93PD/gagbZ9J8kfpTvmvFJ4LA7L5t+2sJK9Pd1nPIYXnAgznu0muTvKnSW4sPBcKUQBIup8a/uUkv57kpLJTAXp0c5J3J/nbJPcVnguFKQDs7lnpLvl5eZIfKTwXYHF3JnlfkmvSne53mp8kCgB7d2C6qwdetDpOLjsdYA7/k+4z/Q8n+XS6u/jBLhQAZnVCkucluXR1HF12OsA6d6a71Pf6JB+LW/UyAwWAjToh3U8Sb1k3jig6I2jDvUn+a3XcmO7yvVuKzogqKQAs01OTPGN1nJDuOwRPS3LU6r87Mt2tiZ9UaoIwYtvT3cL73iR3J7krybfSvbu/Zd24u9QEAZbhiUkOKz0JKOzwJIeWngQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwIz+H5S52y65NNUMAAAAAElFTkSuQmCC);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
}

.configureConnection, .addConnection {
  min-width: 690px;
  max-width: 860px;
  margin-right: auto;

  .bp3-input-group {
    &.connection-name-input, &.username-input, &.password-input {
      min-width: 320px;
      width: auto;
      max-width: 460px;
    }
  }
}

.bp3-input-group {
  &.invalid-field {
    + label { font-weight: bold }
    > input, > textarea {
      box-shadow: rgb(232, 28, 28) 0px 0px 0px 1px, rgba(232, 71, 28, 0.3) 0px 0px 0px 3px, rgba(16, 22, 26, 0.2) 0px 1px 1px 0px inset;
      box-sizing: border-box;
      background-color: #ffeeee;
    }
  }

  > input[readonly] {
    background-color: #f8f8f8;
  }
}