.card {
  width: 250px;
  border-radius: 0;
  background: #F4F4F6;
  z-index: 1;
  box-shadow: none;
  position: fixed;
  height: 100vh;
  left: 0;
}

.logo {
  max-width: 60px;
  display: block;
  margin: -2rem auto 2.5rem;
}

.dashboardBtn {
  margin: 0 auto;
  display: block;
  background-color: #E8471C !important;
  color: #fff !important;
}

.dashboardBtn:hover {
  opacity: 0.9;
}

.dashboardBtnLink:hover {
  text-decoration: none;
}

.dashboardBtn span svg {
  fill: #ff7b56 !important;
}

.sidebarMenu {
  margin-top: 2.5rem;
  list-style-type: none;
  padding-left: 0;
  margin-left: -20px;
  width: calc(100% + 40px);
}

.sidebarMenu a,
.sidebarMenuActive {
  display: block;
  padding: 12px 20px;
  position: relative;
  text-decoration: none;
}

.sidebarMenu a:hover {
  color: #303033;
}

.sidebarMenuActive {
  color: #E8471C !important;
  background: #FFDBC2;
}

.sidebarMenuActive:hover {
  color: #E8471C;
  background-color: #ffdac6;
}

.sidebarMenuDash {
  height: 100%;
  position: absolute;
  background-color: #F8C3B5;
  top: 0;
  right: 0;
  width: 3px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.sidebarMenuListIcon {
  margin-right: 0.75rem;
}

.pluginListItemLink {
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
}

.pluginListItemLink:hover {
  color: #303033;
  text-decoration: none;
}
