// Licensed to the Apache Software Foundation (ASF) under one or more
// contributor license agreements.  See the NOTICE file distributed with
// this work for additional information regarding copyright ownership.
// The ASF licenses this file to You under the Apache License, Version 2.0
// (the "License"); you may not use this file except in compliance with
// the License.  You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.card.sidebar-card {
  width: 250px;
  border-radius: 0;
  background-color: #292B3F;
  color: #ffffff;
  z-index: 10;
  box-shadow: none;
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  // padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &:hover {
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 1px 1px rgba(16, 22, 26, 0.2), 0 2px 6px rgba(16, 22, 26, 0.2)
  }
}

.logo {
  max-width: 48px;
  width: 48px;
  height: 48px;
  display: block;
  margin: 28px auto;
}

.logo-textmark {
  margin: 10px auto;
  display: block;
  max-width: 120px;
  width: 120px;
}

.copyright-tag {
  display: inline-block;
  margin-top: auto;
  font-size: 11px;
  margin-left: 14px;
  align-self: flex-start;
  color: rgba(124, 124, 124, 0.7);
  text-align: left;
  strong {
    color: rgba(124, 124, 124, 0.9);
  }
}

.dashboardBtn {
  margin: 0 auto;
  display: block;
  background-color: #E8471C !important;
  color: #fff !important;
}

.dashboardBtn:hover {
  opacity: 0.9;
}

.dashboardBtnLink:hover {
  text-decoration: none;
}

.dashboardBtn span svg {
  fill: #ff7b56 !important;
}