.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  margin-bottom: 2rem;
}

.logo {
  max-width: 60px;
  margin-bottom: 0.5rem;
}

.code {
  margin-right: 0.2rem;
}

.label {
  margin-right: 1rem;
}

.input {
  flex: 1;
}

.button {
  margin-left: 1rem;
}

.formContainer {
  display: flex;
  width: 100%;
  min-width: 700px;
  align-items: center;
  margin-bottom: 0.5rem;
}

.headline {
  margin-top: 1.5rem;
}
