.container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  padding: 4rem 4rem 4rem calc(250px + 4rem);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.description {
  display: block;
  margin-bottom: 1.6rem;
  max-width: 600px;
}

.logo {
  max-width: 60px;
  margin-bottom: 0.5rem;
}

.code {
  margin-right: 0.2rem;
}

.tagInput {
  position: relative;
  padding-right: 2rem;
}

.input,
.helperInput {
  margin-left: 0.75rem;
}

.input input,
.helperInput input {
  margin-top: 0 !important;
}

.input, .helperInput, .form {
  width: 100%;
}

.helperInput {
  margin-top: -10px;
  width: calc(100% - 12px) !important;
}

.requiredStar {
  color: #F83E3E;
  font-weight: 600;
  font-size: 1.2rem;
  margin-left: 0.25rem;
}

.codeArea {
  width: 100%;
  max-width: 600px !important;
  height: 384px !important;
  font-family: ui-monospace, monospace;
  font-size: 13px;
}

.formSection {
  margin-top: 10px;
  width: 100%;
  max-width: 600px;
}

.helpIcon {
  margin-left: 0.5rem;
  position: relative;
  top: -0.4rem;
}

.formGroup {
  width: 100%;
  max-width: 600px;
}

.formGroup div {
  color: #717484 !important;
}

.formGroup label {
  color: #4B4D58;
  display: flex;
  align-items: center;
  margin-right: 0 !important;
}

.button {
  margin-left: 1rem;
}

.formContainer {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 0.5rem;
}

.headlineContainer {
  width: 100%;
}

.headlineContainer h1 {
  margin: 0 0 0.5rem;
}

.headline {
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
}

.saveBtn {
  margin: 2rem auto 0 0;
  display: block;
  background-color: #717484 !important;
  color: #fff !important;
}

.saveBtn:hover {
  opacity: 0.9;
}

.pluginSpinner {
  display: inline-block;
  margin-right: 0.25rem;
  margin-top: -0.25rem;
}

.pluginSpinnerWrap {
  margin-top: 0.5rem;
}

.statusTabs {
  width: 100%;
}

.addNewStatusBtn,
.addNewStatusBtnDialog {
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.15);
  padding: 0.5rem 0.5rem;
  outline: 0;
  display: inline-block;
  margin-bottom: 0.75rem;
}

.addNewStatusBtnDialog {
  margin-top: 1rem;
  text-align: center;
  width: 100%;
}

.customStatusFormGroup {
  margin-bottom: -0.5rem;
  padding: 2rem 3rem;
}

.customStatusDialog {
  background-color: #F4F4F6;
}
