{
  "root": true,
  "parser": "@babel/eslint-parser",
  "extends": [
    "standard",
    "standard-jsx",
    "standard-react",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "ignorePatterns": [
    "dist/*",
    "/packages/*",
    "/cypress/",
    "/config/",
    "/node_modules/"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": [
    "unicorn",
    "babel",
    "header",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "extensions": [".js"],
        "map": [
          [
            "@", "./src/"
          ],
          [
            "@config", "./config/"
          ]
        ]
      },
      "babel-module": {
        "extensions": [
          ".js",
          ".ts"
        ]
      }
    }
  },
  "rules": {
    "prettier/prettier": ["warn"],
    "camelcase": "off",
    "semi": ["error", "never"],
    "max-len": [1, 140, 2],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-indent": ["error", 2],
    "react/jsx-wrap-multilines": 0,
    "react/jsx-first-prop-new-line": [2, "multiline"],
    "react/jsx-max-props-per-line": [
      2,
      { "maximum": 1, "when": "multiline" }
    ],
    "react/jsx-indent-props": [2, 2],
    "react/jsx-closing-bracket-location": [
      2,
      "tag-aligned"
    ],
    "import/no-named-as-default": "off",
    "comma-dangle": "off",
    "react/prop-types": "off",
    "react/jsx-boolean-value": 0,
    "header/header": ["error", ".file-headerrc"],
    "no-unused-vars": "off",
    "multiline-ternary": 0
  }
}
