{
  "root": true,
  "parser": "@babel/eslint-parser",
  "extends": [
    "standard",
    "standard-jsx",
    "standard-react",
    "plugin:react-hooks/recommended"
  ],
  "ignorePatterns": [
    "dist/*",
    "/packages/*",
    "/cypress/",
    "/config/",
    "/node_modules/"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": [
    "unicorn",
    "babel",
    "header"
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        "extensions": [".js"],
        "map": [
          [
            "@", "./src/"
          ],
          [
            "@config", "./config/"
          ]
        ]
      },
      "babel-module": {
        "extensions": [
          ".js",
          ".ts"
        ]
      }
    }
  },
  "rules": {
    "camelcase": "off",
    "max-len": [1, 140, 2],
    "react/jsx-indent": ["error", 2],
    "import/no-named-as-default": "off",
    "comma-dangle": "off",
    "react/prop-types": "off",
    "react/jsx-boolean-value": 0,
    "header/header": ["error", ".file-headerrc"],
    "no-unused-vars": "off",
    "multiline-ternary": 0
  }
}
