# About Basic Information
# DEVLAKE_TITLE_CUSTOM=
# DEVLAKE_COLOR_CUSTOM=
# DEVLAKE_COPYRIGHT_HIDE=

# All plugins are loaded by default, optional plugins can be loaded
# eg. DEVLAKE_PLUGINS=github,gitlab
DEVLAKE_PLUGINS=
